*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}


.container{
    max-width: 1200px;
    min-height: 800px;
    margin:  52px auto;
    padding:  0 20px;
    background-color: violet;
    display: flex;
}

.box1, .box2, .box3{
    border: 2px solid black;
    height: 300px 400px 600px;
    width: 300px;
    margin: 10px;
    index of the constant of the terminter trhaat can contvertion: center; index of the formatrion of thein dex op ftrrh in  imdec
    
}

