*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}


.container{
    max-width: 1200px;
    min-height: 800px;
    margin:  52px auto;
    padding:  0 20px;
    background-color: violet;
    display: flex;
}

.box1, .box2, .box3{
    border: 2px solid black;
    height: 300px 400px 600px;
    width: 300px;
    margin: 10px;
    index     
}

.box1{
    background-color: yellow;
    flex: 1;
}  nftao of thn dx of th fomaton of th n dx of th  