*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}


.container{
    max-width: 1200px;
    height 100vh;
    margin: auto;
    padding: 20px;
    background-color: violet;
}