*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}


.container{
    max-width: 1200px;
    min-height: 800px;
    margin:  80px auto ;
    background-color: violet;
    
}

.box-container{
    display: flex;
}


.box{
    border: 2px solid black;
    height: 200px;
    width: 600px;
    display: flex;
}


.box1{
    background-color: yellow;
    
}
.box2{
    background-color: orange;
    
}
.box3{
    background-color: red;
    
}
.box4{
    background-color: green;
    
}
.box5{
    background-color: blue;
}
.box6{
    background-color: purple;
    
}
.box7{
    background-color: pink;
    
}
.box8{
    background-
}